<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.modernpos.tps_coffee">
    <!--
    <uses-sdk
        android:minSdkVersion="22"
        android:maxSdkVersion="23" />
    -->
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.TELPO_ICC " />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".tps900.ocr.OcrIdCardActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity
            android:name=".tps900.megnetic.MegneticActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity
            android:name=".tps900.printer.PrinterActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity
            android:name=".tps900.printer.UsbPrinterActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity
            android:name=".tps900.rfid.ConsumeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity
            android:name=".tps900.idcard.IdCardActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity
            android:name=".tps900.rfid.RfidActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity
            android:name=".tps900.moneybox.MoneyBoxActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity
            android:name=".tps900.rfid.UltralightActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity
            android:name=".tps900.iccard.IccActivityNew"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity
            android:name=".tps900.iccard.SLE4428Activity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity
            android:name=".tps900.iccard.SLE4442Activity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity
            android:name=".tps900.iccard.SmarCardNewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity
            android:name=".tps900.iccard.PsamActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity
            android:name=".tps900.ir.IrActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity
            android:name=".tps900.led.LedActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity
            android:name=".tps900.led.LedActivity900"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity
            android:name=".tps900.iccard.MonitorActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity
            android:name=".tps900.decode.DecodeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity
            android:name=".tps900.nfc.NfcActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity
            android:name=".tps900.rfid.CpuCardActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity
            android:name=".tps900.nfc.NfcActivity_tps900"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity
            android:name=".tps900.util.XuanXiang"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>

    </application>

</manifest>